<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Analysis</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Анализ криптовалют</h1>
        <p>Ниже представлена таблица с результатами анализа альткоинов, которые исторически совпадают с изменением цены биткоина.</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Валютная Пара</th>
                    <th>Направление Биткоина</th>
                    <th>Средняя Задержка (секунды)</th>
                    <th>Направление Альткоина</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.altcoin_pair }}</td>
                    {% for row in item.result %}
                    <td>{{ row.direction_btc }}</td>
                    <td>{{ row.time_delay | round(2) }}</td>
                    <td>{{ row.direction }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
